<!DOCTYPE html>
<html lang="en">
<head>

  <style>

  body{
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  color: #333;

  }

  .painel{

   border: 1px solid #dddd;
    border-radius: 10px;
    display: inline-block;

  }

  </style>
    <meta charset="UTF-8">
    <title>Meu primeiro HTML do Zero</title>
</head>
<body>
  <div class='painel'>
  <h1>Hello World com HTML</h1>
  <p>Bem-vindo ao Spring Boot!</p>
  <p>Esta é minha segunda aula de Spring Boot.</p>
  </div>
</body>
</html>